/* ======= GENERAL ======== */
body {
  background: black;
  color: white;
  font-size: 3vw;
  text-align: center;
}
form {
  text-align: center;
  padding: 20px;
  /* display: flex; */
  /* flex-direction: column; */
}
#button {
  height: 35px;
  width: 150px;
  margin: 10px 200px 10px 200px;
  /* justify-content: center; */
}
#input-box {
  width: 60%;
  color: black;
  text-align: center;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

form h1 {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > img {
  width: 30%;
}
.container > h1 {
  font-family: "Montserrat", impact;
  font-weight: 800;
  font-size: 2.5em;
  margin-top: -1%;
  color: #4caaa8;
  text-shadow: 1px 1px #f2cd99;
  letter-spacing: 2px;
}
/* ======= CAROUSEL SECTION ======== */
.carousel-container {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.carousel-images {
  width: 60%;
  background: black;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  /* box-shadow: 2px 2px grey; */
}
.carousel-images img {
  width: 100%;
  border-radius: 10px;
  display: none;
}

.carousel-images img:first-of-type {
  display: block;
}

.carousel-button {
  align-self: center;
  background: grey;
  color: cyan;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  /* box-shadow: 1px 1px orange; */
}
.carousel-button:hover {
  cursor: pointer;
  background: darkgray;
  /* box-shadow: 1px 1px blue; */
  color: white;
}
.scroll {
  background: green;
  font-size: 20px;
  height: 150px;
  width: 500px;
  overflow-y: auto;
  postion: absolute;
  bottom: 0;
}
